.crewCardsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  align-items: left;
  justify-content: center;
  margin-top: 48px;
}

@media (max-width: 768px) {
  .crewCardsContainer {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
